<span style="font-family: verdana, geneva, sans-serif;"><!DOCTYPE html>
    <html lang="en">
      <head>
        <title>Sign Up | By Code Info</title>
        <link rel="stylesheet" />
        <link
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
          rel="stylesheet"
        />
      </head>
      <body>
        <div class="signup-box">
          <h1>S'inscrire</h1>
          <!-- <h4>C'est gratuit et ne prend qu'une minute</h4> -->
          <form>
            <label>Prénom</label>
            <input type="text" placeholder="" />
            <label>Nom</label>
            <input type="text" placeholder="" />
            <label>E-mail</label>
            <input type="email" placeholder="" />
            <label>Mot de passe</label>
            <input type="password" placeholder="" />
            <label>Confirmez le mot de passe</label>
            <input type="password" placeholder="" />
            <input type="button" value="Submit" />
          </form>
          <!-- <p>
            En cliquant sur le bouton S'inscrire, vous acceptez notre <br />
            <a href="#">Termes et conditions</a> et <a href="#">Politique de confidentialité</a>
          </p> -->
          <p class="para-2">
            Vous avez déjà un compte? <a routerLink="/login">Connectez-vous ici</a>
        </p>
        </div>
        
      </body>
    </html></span>
